<!-- About Section -->
<section id="about-details">
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-offset-1 col-md-4 col-xs-8 text-left">
                    <h4>{{ site.data.about.name }}</h4>
                    <h6>{{ site.data.about.description }}</h6>
                    <p>
                        {{ site.data.about.cell }}
                        <br>
                        <a href="https://github.com/{{ site.data.about.github_account }}">https://github.com/{{ site.data.about.github_account }}</a>
                    </p>
                </div>
                <div class="col-md-offset-3 col-md-3 col-xs-8">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <a href="{{ site.data.about.image_url }}" target="_blank">  
                        <img src="{{ site.baseurl }}/img/about-section/{{ site.data.about.image }}" alt="{{ site.data.about.description }}">
                    </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-left">
                	<h4>Objective</h4>
                    <p>{{ site.data.about.objective }}</p>

                    <h4>Work experience and community activities</h4>
                    {% for experience in site.data.about.work_experience %}
                    <div class="about-experience-header">
                        <div class="company">
                            <span class="caption">{{ experience.dates }}:</span>
                            <span class="description"><a href="{{ experience.company_url }}">{{ experience.company }}</a> ({{ experience.company_description }}), {{ experience.position }}</span>
                        </div>
                    </div>
                    {% if experience.project %}
                    <p>
                        <div class="h5">{{ experience.project.title }}</div>
                        {% if experience.project.description %}
                        <p>
                        {{ experience.project.description }}
                        </p>
                        {% endif %}
                        {% if experience.project.principles && experience.project.technilogies_and_dependencies %}
                        <p>
                            Principles: {{ experience.project.principles }}<br>
                            Technilogies and dependencies: {{ experience.project.technilogies_and_dependencies }}
                        </p>
                        {% endif %}
                    </p>
                    {% endif %}
                    {% if experience.responsibilities %}
                    <p>
                        Resposible for:
                        <ul>
                        {% for responsibility in experience.responsibilities %}
                            <li>{{ responsibility }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                    {% endif %}
                    {% if experience.achievements %}
                    <p>
                        Achievements:
                        <ul>
                        {% for achievement in experience.achievements %}
                            <li>{{ achievement }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                    {% endif %}
                    {% if experience.main_keywords %}
                    <p>Main keywords: {{ experience.main_keywords }}</p>
                    {% endif %}
                    {% endfor %}

                    <h4>Education</h4>
                    <div class="about-experience-header">
                        <div class="company">
                            <span class="caption">{{ site.data.about.education.dates }}: </span>
                            <span class="description">{{ site.data.about.education.university }}</span>
                        </div>
                    </div>
                    <h4>Certifications</h4>
                    <ul>
                    {% for certification in site.data.about.certifications %}
                        <li><a href="{{ certification.link }}">{{ certification.text }}</a></li>
                    {% endfor %}
                    </ul>
                    <div class="row about-details">
                        {% assign animationDelay = 0 %}
                        {% for certification in site.data.about.certifications %}
                        {% assign colWidth = 12 | divided_by: forloop.length %}
                        <div class="col-md-{{ colWidth }} col-xs-6">  
                            <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                <a href="{{ certification.link }}">
                                    <img src="{{ site.baseurl }}/img/about-section/{{ certification.image }}" width="128" alt="{{ about.title }}">
                                </a>
                            </div>
                        </div>
                        {% assign animationDelay = animationDelay | plus:500 %}
                        {% assign check = forloop.index | modulo:2 %}
                        {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <p>{{ site.data.about.certification_description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
